.menu2__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.menu2__item {
    font-size: 30px;
    text-align: center;
}
.menu2__item li {
    list-style: none;
    padding-bottom: 18px;
}

.menu2__item a{
    text-decoration: none;
    cursor: pointer;
    color: blue;
}
